### Ok, the first requirement is 

1. La universidad opera de forma presencial y con planes de estudios semestrales. Se debe registrar la información de cada plan de estudios como: nombre, clave, duración en semestres, número de créditos totales, estatus (vigente o no).

This seems to just be a table. The format is

CREATE TABLE study_plan(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    code VARCHAR(50),
    duration INTEGER,
    credits INTEGER,
    status BOOL,
);

I don't think code and ID are the same, as the code probably has implicit information about what subject is related to, the undergraduate that is imparted in, etc. As it probably has both letters and numbers I think it is better to just leave it as VARCHAR. 

I don't know if you declare a boolean variable in postgreSQL with BOOL, but I will know once I run the code. 

As this table doesn't has any foreign key is a strong entity; one of the first ones I will create in the database. 

### The second requirement is 

2. Se debe almacenar la información de todas las materias comprendidas en cada plan de estudios: clave, nombre, número de horas, número de horas teóricas, numéro de horas de práctica, número de créditos, área de especialización.

CREATE TABLE subjects(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    hours INTEGER,
    theorical_hours INTEGER,
    practical_hours INTEGER,
    credits INTEGER,
    area 
);

In area I will most probably need a foreign key. It seems that the relationship is one to one. I think that I should put the rule here that no attribute of this table can be null, but also that the arithmetic sum of the 'theorical_hours' and 'practical_hours' must be equal or less than 'hours'. 

### The third requirement is 

3. Se debe almacenar la información personal del alumno como: nombre completo, nacionalidad, curp, fecha de nacimiento, correo electrónico personal, teléfono, dirección, estado civil, tipo de sangre, numero de seguridad social. No es posible que dos estudiantes compartan correo electrónico.

Another table

CREATE TABLE students(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    nacionality VARCHAR(10),
    curp VARCHAR(30), 
    birth_date DATE,
    email TEXT UNIQUE,
    telephone VARCHAR(15),
    city VARCHAR(100), 
    state VARCHAR(100), 
    street VARCHAR(100),
    external_number INTEGER,
    zip_code INTEGER,
);

Creating tables for the last names seems excessive, but useful at the same time... not really, I don't think having separate tables for the last names will help more than just doing a normal SQL search. My doubt is how can I ensure that the students will fill out the information in the 'Name PaternalName MaternalName' standard? 

In nacionality I have doubt too. I should probably have a list of codes that map all the nacionalities in the world, and nationality as an attribute to just be a number. 

The same goes for the CURP... I could use regex to ensure at least the curp that the student wrote makes sense, as I have already done it for the subject of formal languages. 

I will stop worrying for that now, as it seems that I can get into the same trouble with all the students' attributes. 

I know I need to pay special attention to the adress in order to comply with 3rd Normal Form. It seems that the way to do so is by breaking adress into composite values such as street, external number and zip code. 

It seems that for email I need to use TEXT in addition to a CHECK constraint. Indeed I can use regex for the email or other camps. 

As I have already wrote quite a bit of text I will start with the code. First importing psycopg2 for postgreSQL.

In [13]:
import psycopg
from dotenv import load_dotenv
import os

load_dotenv()

def conn_to_postgres(instructions):
    conn = None

    try:
        conn = psycopg.connect(
            host="localhost",
            dbname="unam_database",
            user="schronding",
            password=os.getenv('PASSWORD'),
            port="5432", 
        ) 

        conn.autocommit = True
        cur = conn.cursor()

        cur.execute(instructions)


        cur.close()
        return conn
    
    except(Exception, psycopg.DatabaseError) as e:
        print(f"Error: {e}")
        if conn:
            cur.close()
        return None

Before executing the function (which I think it is wrong as I probably confuse what the difference between the connection and cursor is), I need to create the database... but I don't remember the syntax 

**postgres=# CREATE DABATASE unam_database;**

*ERROR:  syntax error at or near "DABATASE"*

*LINE 1: CREATE DABATASE unam_database;*

I wrote DATABASE wrong... Now it works.

It seems that while the syntax is correct I am not able to set schronding as the owner of 'unam_database'. I think it probably has to do with me not creating this role for this specific database. 

postgres=# CREATE DABATASE unam_database;

ERROR:  syntax error at or near "DABATASE"

LINE 1: CREATE DABATASE unam_database;

To check the roles I can use \du and \du+. 

I am having trouble now even entering to the postgres terminal 

**sudo psql -U postgres**

psql: error: connection to server on socket "/var/run/postgresql/.s.PGSQL.5432" failed: FATAL:  Peer authentication failed for user "postgres"

It seems that I can reconfigure the 'pg_hba.conf' file to trust my local computer... but I don't know where is located. It doesn't work with 'whereis' on the terminal. 

I will just use sudo -u postgres psql. 

It seems I am still denied permision but the terminal appeared again

**sudo -u postgres psql**

could not change directory to "/home/schronding/repos/UNAM_database": 

Permission denied

psql (15.14 (Debian 15.14-0+deb12u1))

It wasn't that my role didn't exist, as it already does 

**postgres=# CREATE ROLE schronding;**

ERROR:  role "schronding" already exists

With the command 

**ALTER ROLE schronding WITH LOGIN PASSWORD MarioYChuyBFF**

the postgres terminal changed from 'postgres=#' to 'postgres-#'. I don't know what it means the change from = to -. It seems that the difference is that when it goes to - it means that you haven't finished executing the previous command. I think this could be useful to create tables with multiple attributes. 

I think I should probably use the library of running terminal scripts in python, as I think that would cut the need to copy all my commands and their output. The library's name is 'subprocess'. It might not work, as there are two levels of 'depth' with the postgres terminal.

In [25]:
import subprocess

study_plan_table = """
DROP TABLE IF EXISTS study_plans CASCADE; 

CREATE TABLE study_plans(
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) UNIQUE,
    code VARCHAR(50),
    duration INTEGER,
    credits INTEGER,
    status BOOLEAN NOT NULL
);"""

conn_to_postgres(study_plan_table)

I had some errors

Error: invalid connection option "name"

Multiple connection attempts failed. All failures were:
- host: 'localhost', port: '5432', hostaddr: '::1': invalid connection option "name"

- host: 'localhost', port: '5432', hostaddr: '127.0.0.1': invalid connection option "name"

The thing with psycopg is that it seems that the order of the attributes matter, even though I am explicitly telling the parameters by name. While psycopg seems to be a better version than psycopg2 I might be getting all of these problems just by the difference in versions, as the conn that I remembered was with psycopg2. 

Also prior to that I forgot that in the except clause we need 'Exception', not 'Error'. Also that the port must be a string, not a number. 

It is interesting, because when I put name it throwed an error, when I changed the attribute to database it did too. It seems that the attribute itself is the problem. 

I don't know what the problem is... 

It was just that the correct name attribute was 'dbname'...

At least now I get a different error, which I understand

Error: connection failed: connection to server at "127.0.0.1", port 5432 failed: fe_sendauth: no password supplied
Multiple connection attempts failed. All failures were:
- host: 'localhost', port: '5432', hostaddr: '::1': connection failed: connection to server at "::1", port 5432 failed: fe_sendauth: no password supplied
- host: 'localhost', port: '5432', hostaddr: '127.0.0.1': connection failed: connection to server at "127.0.0.1", port 5432 failed: fe_sendauth: no password supplied

What I don't understand is why the password isn't correctly retrieved. Could it be that by being in a Jupyter notebook, the getenv method doesn't recognize that there is a hidden file .env in the local environment? 

Indeed when I try to get the password it doesn't retrieve it

In [15]:
#print(os.getenv("PASSWORD"))

I now see what the problem was... I didn't include the 'load_dotenv()' function. 

Now it finally works 

<psycopg.Connection [IDLE] (host=localhost user=schronding database=unam_database) at 0x7f13f52178c0>

In [16]:
print(conn_to_postgres("SELECT ALL"))

<psycopg.Connection [IDLE] (host=localhost user=schronding database=unam_database) at 0x7f59008b4230>

What I wanted to see was if there was a good formated answer for when I made a SQL request. I will research it later, I think I can continue with the second table. Thinking it more slowly I do think that while on the ENES there might be different versions of the same subject, for example 'Probabilidad y Estadistica' for technology and other for aeroespacial engineering, I think it makes sense that one subject can belong to many study plans, creating a connection one to many. 

Part of me thinks that many to many is correct, but is redundant. Can one study plan be involved in a lot of subjects? Yes, but is it relevant? Do I need to write the intermediate table? For now I will do it. 

As the intermediate or pivot table has foreign keys is weak, but subjects is weak too. Is there any difference by which I create first?

In [27]:
plan_subjects_pivot_table = """
DROP TABLE IF EXISTS plan_subjects CASCADE;

CREATE TABLE plan_subjects(
    plan_id INTEGER,
    subject_id INTEGER,
    FOREIGN KEY (plan_id) REFERENCES study_plans(id),
    FOREIGN KEY (subject_id) REFERENCES subjects(id)
);
"""

conn_to_postgres(plan_subjects_pivot_table)

As I got the error

Error: syntax error at or near "FOREIGN"
LINE 5:     plan_id FOREIGN KEY id REFERENCES plan(id),
                    ^

I will try to first create the subjects table without the foreign key, and then execute the pivot table.

In [57]:
subjects_table = """
DROP TABLE IF EXISTS subjects CASCADE;

CREATE TABLE subjects(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100) UNIQUE,
    theorical_hours INTEGER,
    practical_hours INTEGER,
    hours INTEGER,
    credits INTEGER,
    area VARCHAR(100),
    FOREIGN KEY (area) REFERENCES plan_subjects(plan_id),
    CONSTRAINT hours CHECK (theorical_hours + practical_hours <= hours)
);"""

conn_to_postgres(subjects_table)

Error: there is no unique constraint matching given keys for referenced table "plan_subjects"

It seems I got the error 

Error: syntax error at or near ")"
LINE 11: );
         ^

Because I left the last attribute with a comma at the end. When I removed it I got a sucessful message again. 

<psycopg.Connection [IDLE] (host=localhost user=schronding database=unam_database) at 0x7f13f52db9b0>

The error remains in the pivot table though. I will continue with the students table while I think how to solve that error

In [55]:
students_table ="""
DROP TABLE IF EXISTS students CASCADE;

CREATE TABLE students(
    ID SERIAL PRIMARY KEY,
    first_names VARCHAR(100),
    paternal_surname VARCHAR(100),
    maternal_surname VARCHAR(100), 
    nationality VARCHAR(2),
    curp VARCHAR(30), 
    birth_date DATE,
    email TEXT UNIQUE,
    telephone VARCHAR(15),
    city VARCHAR(100), 
    state VARCHAR(100), 
    street VARCHAR(100),
    external_number INTEGER,
    zip_code INTEGER,
    marital_status MARITALSTATUS,
    blood_type BLOODTYPE,
    NSS INTEGER,
    tutor_id INTEGER,
    FOREIGN KEY (tutor_id) REFERENCES professors(id),
    FOREIGN KEY (nationality) REFERENCES nationalities(code)
);"""

conn_to_postgres(students_table)

It seems it worked! 

<psycopg.Connection [IDLE] (host=localhost user=schronding database=unam_database) at 0x7f13f41456a0>

As I don't like that nacionality is VARCHAR I will use the lookup table of formal languages so I can change the type to a number. 

### Nacionalities

```Java
        paises.add("MX : MÉXICO");
        paises.add("DE : ALEMANIA");
        paises.add("AD : ANDORRA");
        paises.add("AR : ARGENTINA");
        paises.add("AU : AUSTRALIA");
        paises.add("AT : AUSTRIA");
        paises.add("BE : BÉLGICA");
        paises.add("BO : BOLIVIA");
        paises.add("BR : BRASIL");
        paises.add("CA : CANADÁ");
        paises.add("CL : CHILE");
        paises.add("CN : CHINA");
        paises.add("CO : COLOMBIA");
        paises.add("KR : COREA DEL SUR");
        paises.add("CR : COSTA RICA");
        paises.add("CU : CUBA");
        paises.add("DK : DINAMARCA");
        paises.add("EC : ECUADOR");
        paises.add("EG : EGIPTO");
        paises.add("SV : SALVADOR, EL");
        paises.add("ES : ESPAÑA");
        paises.add("US : ESTADOS UNIDOS DE AMÉRICA");
        paises.add("PH : FILIPINAS");
        paises.add("FI : FINLANDIA");
        paises.add("FR : FRANCIA");
        paises.add("GR : GRECIA");
        paises.add("GT : GUATEMALA");
        paises.add("HN : HONDURAS");
        paises.add("IN : INDIA");
        paises.add("ID : INDONESIA");
        paises.add("IE : IRLANDA");
        paises.add("IL : ISRAEL");
        paises.add("IT : ITALIA");
        paises.add("JM : JAMAICA");
        paises.add("JP : JAPON");
        paises.add("MA : MARRUECOS");
        paises.add("NI : NICARAGUA");
        paises.add("NO : NORUEGA");
        paises.add("NZ : NUEVA ZELANDA");
        paises.add("PA : PANAMA");
        paises.add("PY : PARAGUAY");
        paises.add("PE : PERÚ");
        paises.add("PL : POLONIA");
        paises.add("PT : PORTUGAL");
        paises.add("PR : PUERTO RICO");
        paises.add("GB : REINO UNIDO");
        paises.add("CZ : CHECA, REPÚBLICA");
        paises.add("DO : DOMICANA, REPÚBLICA");
        paises.add("RU : RUSIA");
        paises.add("ZA : SUDÁFRICA");
        paises.add("SE : SUECIA");
        paises.add("CH : SUIZA");
        paises.add("TH : TAILANDIA");
        paises.add("TR : TURQUÍA");
        paises.add("UA : UCRANIA");
        paises.add("UY : URUGUAY");
        paises.add("VE : VENEZUELA");
```

### Regex 

While it is in Java I will store here the regex in case they come in handy later down the line 

```Java
static {
        REGEX_MAP.put("Nombre(s)", "^[A-ZÁÉÍÓÚÑ ]{1,20}$");
        REGEX_MAP.put("Apellido Paterno", "^[A-ZÁÉÍÓÚÑ ]{1,15}$");
        REGEX_MAP.put("Apellido Materno", "^[A-ZÁÉÍÓÚÑ ]{1,15}$");
        REGEX_MAP.put("Fecha de nacimiento", "^(?:0?[1-9]|[12]\\d|3[01])([-/])(?:0?[1-9]|1[0-2])\\1(?:(?:\\d{2})?\\d{2})$");
        REGEX_MAP.put("RFC", "^[A-Z]{4}\\d{6}[A-Z0-9]{3}$");
        REGEX_MAP.put("CURP", "^[A-Z]{4}\\d{6}[HM][A-Z]{2}[A-Z]{3}[A-Z0-9]{2}$");
        REGEX_MAP.put("Calle", "^[A-Z0-9 ]+$");
        REGEX_MAP.put("Número Ext.", "^\\d+$");
        REGEX_MAP.put("Colonia", "^[A-Z0-9 ]+$");
        REGEX_MAP.put("Código Postal", "^\\d{5}$");
        REGEX_MAP.put("Teléfono1", "^\\d{3}$");
        REGEX_MAP.put("Teléfono2", "^\\d{3}$");
        REGEX_MAP.put("Teléfono3", "^\\d{4}$");
        REGEX_MAP.put("Correo electrónico", "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+(?:[.-][a-zA-Z0-9]+)*\\.[a-zA-Z]{2,}$");
        REGEX_MAP.put("Contraseña", "^(?=.*[a-z])(?=.*[A-Z])(?=(?:.*\\d){2})(?=.*[\\W_]).{8,}$");
        REGEX_MAP.put("Tarjeta1", "^\\d{4}$");
        REGEX_MAP.put("Tarjeta2", "^\\d{4}$");
        REGEX_MAP.put("Tarjeta3", "^\\d{4}$");
        REGEX_MAP.put("Tarjeta4", "^\\d{4}$");
    }
```

### Continue to solve the pivot table

It seems that the problem was that I wrote FOREIGN KEY before specifying the type. It is actually backwards: first I declare the type, then I tell postgres that it is a foreign key.

In [20]:
plan_subjects_pivot_table = """
DROP TABLE IF EXISTS plan_subjects CASCADE;

CREATE TABLE plan_subjects(
    plan_id INTEGER,
    subject_id INTEGER,
    FOREIGN KEY (plan_id) REFERENCES study_plans(id),
    FOREIGN KEY (subject_id) REFERENCES subjects(id)
);
"""

conn_to_postgres(plan_subjects_pivot_table)

I forgot to put the area of specialization in the subjects table, and as I wanted to update it with the name of the study plan it belongs to (I suppose that is what is meant, maybe it means that it is from the 4 areas of the unam: mathematics, biology, social and humanities). I think there shouldn't be a problem to drop on cascade, as I still do not have data; and when I have it I should store it in an outside csv to not struggle with it later. 

Error: cannot drop table subjects because other objects depend on it
DETAIL:  constraint plan_subjects_subject_id_fkey on table plan_subjects depends on table subjects
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

It seems that I just need to put CASCADE at the end of the command of dropping the table. 

It worked! But while I was dropping the subjects table I got the error 

Error: there is no unique constraint matching given keys for referenced table "study_plans"

And this makes sense to me: how can the database know from all the available names the ones I want to reference? I supposed that when I inserted the data the name itself would look for any direct match with the study_plans table... 

While it makes sense to me that two different subjects cannot share name (if they did, the subject would be the same), it makes sense that postgres is telling me about the lack of specificity. 

I think an answer could be to point it out to my study_plans table.

### The 4th requirement is

4. Se debe registrar la información académica previa del estudiante como: institución de origen, tipo de bachillerato, promedio del último bachillerato, fecha de egreso, ubicación.

I assume this will be a table one to many (one student to all the attributes in the information).

In [21]:

student_info_table = """
DROP TABLE IF EXISTS student_info CASCADE;

CREATE TABLE student_info(
    origin VARCHAR(100),
    type_school TEXT,
    average FLOAT,
    graduation DATE,
    location TEXT,
    student_id INTEGER UNIQUE,
    FOREIGN KEY (student_id) REFERENCES students(id)
);
"""
conn_to_postgres(student_info_table)

Now I will create the nationalities table. On my Java table I just have two letter codes for countries, so I will just use VARCHAR(2). I did the same mistake as before of not specifying that the code is unique. I need to explicitly put it when I am not referencing a SERIAL id (as SERIAL already ensures that it is impossible for 2 numbers to be equal)

In [22]:
nationalities_table = """ 
DROP TABLE IF EXISTS nationalities CASCADE;

CREATE TABLE nationalities(
    id SERIAL PRIMARY KEY, 
    name VARCHAR(100) NOT NULL,
    code VARCHAR(2) UNIQUE
);
"""

conn_to_postgres(nationalities_table)

### Now the fifth point is 

5. Se debe registrar la información académica en la universidad: clave de estudiante, carrera, programa de estudios, fecha de ingreso, semestre actual, estatus (activo, baja temporal, baja definitiva, graduado, titulado), fecha de última actualización, tipo de alumno (regular, irregular), correo institucional, número de créditos obtenidos hasta el momento, método de titulación. El correo institucional es único.

As I created a student info, I think I should also create another table with the university information... I don't know if I should, as student_info is not horribly large. I don't know if there is any consensus on how many attributes should a table have.

In [56]:
student_college_info_table = """
DROP TABLE IF EXISTS student_college_info CASCADE; 

CREATE TABLE student_college_info(
    student_id PRIMARY KEY, 
    career VARCHAR(100),
    code VARCHAR(10), 
    beginning DATE,
    semester INTEGER,
    status BOOLEAN, 
    regularity BOOLEAN,
    ins_email VARCHAR(20) UNIQUE,
    credits INTEGER, 
    titulation BOOLEAN,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREING KEY (career) REFERENCES study_plans(name)
);
"""

For now I put status and titulation as a boolean type, the problem is that they are not binary decisions. I have heard that postgreSQL allows you to have custom data types. I should probably just pick one that allows me for more options and force the insertion of data on the website to match one of the available options. 

It seems that Enums might be the ones I am looking for, as they restrict the colum to follow a static list of values. 

Composite types are interesting too, as I might use them with the location of a student to simplify the zip code, state, etc. 

I will start with status... the command can go on Python or it necessarily has to

In [28]:
status_type = """ 
CREATE TYPE status AS ENUM('active', 'temporal_leave', 'definite_leave', 'graduated', 'titulated');
"""

conn_to_postgres(status_type)

It is taking quite a while, so it might not work directly from Python. The problem was that I wrote the table subject_plans wrong and that was stopping everything from running. Also I notice that I forgot the quotation marks around the options of ENUM. Now it works! 

I would like to have a visual tool to follow my tables, as they have become quite complex and I am not able to follow their connections in my mind. If I keep struggling I will just draw them out in a piece of paper for reference. I like how they were arranged in Supabase though.

I will continue for now with titulation... the problem is that Mario didn't put the types I should include. There are twelve of them.

In [29]:
titulation_type = """ 
CREATE TYPE titulation AS ENUM('support_docency',
'investigation_activity',
'amplification_knowledge',
'postgrade_studies', 
'general_exam',
'academic_article',
'titulation_seminar',
'social_service',
'thesis', 
'dissertation',
'academic_level',
'professional_work'
);
"""

conn_to_postgres(titulation_type)

It is done. Now I have to copy the student_college_info here, as these types need to exist before I create the table.

In [ ]:
student_college_info_table = """
DROP TABLE IF EXISTS student_college_info CASCADE; 

CREATE TABLE student_college_info(
    student_id INTEGER, 
    career_id INTEGER,
    code VARCHAR(10), 
    beginning DATE,
    semester INTEGER,
    status STATUS, 
    regularity BOOLEAN,
    ins_email VARCHAR(20) UNIQUE,
    credits INTEGER, 
    titulation TITULATION,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (career_id) REFERENCES study_plans(id)
);
"""

conn_to_postgres(student_college_info_table)

### The sitxh point is 

6. Se debe guardar el historial de cursos que ha tomado el estudiante: nombre de materia, calificación, semestre en que se cursó la materia, tipo acreditación (ordinaria, extraordinaria). Un alumno no puede inscribirse más de dos veces a un curso.

The thing here is that I don't know what to call this table, as subjects is already taken. Probably taken_subjects is a good name.

In [ ]:
taken_subjects_table = """ 
DROP TABLE IF EXISTS taken_subjects CASCADE;

CREATE TABLE taken_subjects(
    student_id INTEGER, 
    name VARCHAR(100),
    score FLOAT,
    semester INTEGER,
    acreditation BOOLEAN,
    FOREIGN KEY (student_id) REFERENCES subjects(id)
);
"""

conn_to_postgres(taken_subjects_table)

Error: there is no unique constraint matching given keys for referenced table "subjects"

I don't understand this error... I have already put the unique tag in subjects

Error: there is no unique constraint matching given keys for referenced table "subjects"

What I don't know is how to prevent that a student is not able to enter two times the same course. First of all this doesn't work in real life (anyone who failed a core subject would be completely uncapable of graduating), but I don't know if it means the same subject at the same semester, as it would make sense to prevent redundancy. Maybe taken_subjects could have a one to many relationship in which it had all the ids of the students that took the class, and force each of them to be unique? But then I would need another pivot table called student_subjects... hadn't I needed pivot tables just for many to many?

In [ ]:
student_subjects_table = """ 
DROP TABLE IF EXISTS student_subjects CASCADE;

CREATE TABLE student_subjects(
    student_id INTEGER,
    subject_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREING KEY (subject_id) REFERENCES subjects(id)
);
"""

### The seventh point is 

7. Se debe llevar registro de los examenes extraordinarios que han presentado los estudiantes (materia, fecha, calificación).

As this is just one requirement it feels excessive to create a whole new table just for the extraordinary tests... but it also seems clean. I would just need to reference each student and the subject. In case I wanted to see all the test that a student took I would just need to query for its ID

In [40]:
extraordinary_tests_table = """ 
DROP TABLE IF EXISTS extraordinary_tests CASCADE; 

CREATE TABLE extraordinary_tests(
    student_id INTEGER,
    subject_id INTEGER,
    date DATE,
    score FLOAT,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (subject_id) REFERENCES subjects(id)
);
"""

conn_to_postgres(extraordinary_tests_table)

### The eigth point says that

8. Se debe llevar registro de los tutores de los estudiantes. Un estudiante sólo puede tener un tutor, pero un profesor puede tener varios tutorados.

As I already have the students table, I should probably a professors table. Just like I did with PAPIME I probably should have a generic role like individual and allow the same table to fill different kind of information depending of it is a professor or a student. 

This works well for authentication, but I don't know if it would make my schema confusing or disorganized. 

For now I will start with the teacher table, as while it is not declared explicitly, at least in the ENES only the teachers can be tutors

Therefore I will jump all the way to point nine

### The ninth requirement is 

9. Se debe llevar registro de las clases que imparte cada profesor. Suponga que cada clase sólo puede ser impartida por un profesor en un semestre dado. Un profesor puede dar varios cursos al semestre.

In [54]:
professors_table = """ 
DROP TABLE IF EXISTS professors CASCADE; 

CREATE TABLE professors(
    id SERIAL PRIMARY KEY,
    first_names VARCHAR(100),
    paternal_surname VARCHAR(100),
    maternal_surname VARCHAR(100)
);
"""

conn_to_postgres(professors_table)

I am still confused at when the need for a pivot table becomes necessary, but as one professor can have several subjects, I suppose I need another pivot table... it makes sense though, as one subject can be taught by many professors as well as one professor is able to teach many subjects.

In [51]:
professors_subjects_table = """ 
DROP TABLE IF EXISTS professors_subjects CASCADE; 
DROP TABLE IF EXISTS classes CASCADE;

CREATE TABLE classes(
    professor_id INTEGER,
    subject_id INTEGER,
    semester INTEGER, 
    FOREIGN KEY (professor_id) REFERENCES professors(id),
    FOREIGN KEY (subject_id) REFERENCES subjects(id)
);
""" 

conn_to_postgres(professors_subjects_table)

As professors_subjects is a bit wordy I decided to replace it with classes, adding the semester too. 

I have just noticed that I have ids that are defined simply as INTEGERS while others are defined as SERIAL PRIMARY KEY. I assume the latter is the canonical way to do it and the former is probably preferred when I want to hand-pick the id. 

Now that the professors' tables are done, I can continue with tutors. It seems that people argue about if there is one to many or many to one relationship. 

As I was checking the students table I noticed that I haven't created a type for blood type

In [47]:
blood_type = """ 
CREATE TYPE bloodtype as ENUM(
    'A+',
    'A-',
    'B+',
    'B-',
    'O+',
    'O-',
    'AB+',
    'AB-'
);
"""

conn_to_postgres(blood_type)

And I haven't done it with civil status either...

In [49]:
marital_status_type = """ 
CREATE TYPE maritalstatus AS ENUM(
    'Single', 
    'Married',
    'Divorced',
    'Widowed',
    'Separated'
);
"""

conn_to_postgres(marital_status_type)

In [45]:
tutors_table = """ 
DROP TABLE IF exists tutors CASCADE; 

CREATE TABLE tutors(
    student_id INTEGER,
    professor_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (professor_id) REFERENCES professors(id)
);
""" 

conn_to_postgres(tutors_table)

### The final requirement is

10. Las tablas de la base deben estar en la tercera forma normal. Si este no es el caso, deberá justificarse el razonamiento para no llevar la tabla a esa forma.

I think I have already done quite a good job respecting 3rd Normal Form, however I just began to have doubts, as I think that the name field that I put on students should be separated by first_name, paternal_name and maternal_name, as that would make querying easier. 

I think I should begin putting the information to the database, but before that I would really like to have a more user-friendly way to visualize my data besides the terminal. I will check if supabase has an integration with GitHub, and if it hasn't, I will just copy and paste the SQL commands directly there. 

# Implementation

## Data

### 2 Study Plans

#### Technology
I need to fill

```SQL
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) UNIQUE,
    code VARCHAR(50),
    duration INTEGER,
    credits INTEGER,
    status BOOLEAN NOT NULL
```

id: 1
name: undergraduate in technology
code: 126
duration: 8
credits: 372
status: 1 (vigente)

#### Neuroscience

id: 2
name: undergraduate in neurosciences
code: 127
duration: 8
credits: 392
status: 1 (vigente)

### 10 subjects per study plan

I don't know what I did with subjects, as I took out the connection to postgres and when I returned it marked the error. Next time I will put an X or another uncommon character to find my tables quickly, as having a descriptive name is useful for readability but it is annoying to realize I have 55 'subjects' appearances on this file alone. 

```SQL
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100) UNIQUE,
    theorical_hours INTEGER,
    practical_hours INTEGER,
    hours INTEGER,
    credits INTEGER,
    area VARCHAR(100),
    FOREIGN KEY (area) REFERENCES plan_subjects(plan_id),
    CONSTRAINT hours CHECK (theorical_hours + practical_hours <= hours)
```

#### Technology

##### Calculus I

ID:
name:  
theorical_hours: 
practical_hours:  
hours:  
credits:  
area: