### Ok, the first requirement is 

1. La universidad opera de forma presencial y con planes de estudios semestrales. Se debe registrar la información de cada plan de estudios como: nombre, clave, duración en semestres, número de créditos totales, estatus (vigente o no).

This seems to just be a table. The format is

CREATE TABLE study_plan(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    code VARCHAR(50),
    duration INTEGER,
    credits INTEGER,
    status BOOL,
);

I don't think code and ID are the same, as the code probably has implicit information about what subject is related to, the undergraduate that is imparted in, etc. As it probably has both letters and numbers I think it is better to just leave it as VARCHAR. 

I don't know if you declare a boolean variable in postgreSQL with BOOL, but I will know once I run the code. 

As this table doesn't has any foreign key is a strong entity; one of the first ones I will create in the database. 

### The second requirement is 

2. Se debe almacenar la información de todas las materias comprendidas en cada plan de estudios: clave, nombre, número de horas, número de horas teóricas, numéro de horas de práctica, número de créditos, área de especialización.

CREATE TABLE subjects(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    hours INTEGER,
    theorical_hours INTEGER,
    practical_hours INTEGER,
    credits INTEGER,
    area 
);

In area I will most probably need a foreign key. It seems that the relationship is one to one. I think that I should put the rule here that no attribute of this table can be null, but also that the arithmetic sum of the 'theorical_hours' and 'practical_hours' must be equal or less than 'hours'. 

### The third requirement is 

3. Se debe almacenar la información personal del alumno como: nombre completo, nacionalidad, curp, fecha de nacimiento, correo electrónico personal, teléfono, dirección, estado civil, tipo de sangre, numero de seguridad social. No es posible que dos estudiantes compartan correo electrónico.

Another table

CREATE TABLE students(
    ID SERIAL PRIMARY KEY,
    name VARCHAR(100),
    nacionality VARCHAR(10),
    curp VARCHAR(30), 
    birth_date DATE,
    email MAIL,
    telephone INTEGER,
    adress VARCHAR(100), 

);

Creating tables for the last names seems excessive, but useful at the same time... not really, I don't think having separate tables for the last names will help more than just doing a normal SQL search. My doubt is how can I ensure that the students will fill out the information in the 'Name PaternalName MaternalName' standard? 

In nacionality I have doubt too. I should probably have a list of codes that map all the nacionalities in the world, and nationality as an attribute to just be a number. 

The same goes for the CURP... I could use regex to ensure at least the curp that the student wrote makes sense, as I have already done it for the subject of formal languages. 

I will stop worrying for that now, as it seems that I can get into the same trouble with all the students' attributes. 

I know I need to pay special attention to the adress in order to comply with 3rd Normal Form.